section[data-testid='stSidebar'] {
    background: linear-gradient(180deg, rgba(0,56,136,1) 29%, rgba(2,94,210,1) 100%);
    flex-shrink: unset !important;
}

section[data-testid='stSidebar'][data-testid="stSidebar"][aria-expanded="false"] {
    min-width: 95px !important;
    max-width: 95px !important;
    transform: translateX(0px);
}

.tab-content {
    background-color:  rgba(0,56,136,1);
}

/* [data-testid="stSidebar"] [aria-expanded="true"] section[data-testid='stSidebar'] {
    height: 100%;
    min-width:330px !important;
    width: 330px !important;
    margin-left: 305px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s ease;
    padding-top: 60px;
    white-space: nowrap;
} */



/* @media (min-width: 600px) and (max-width: 769px){

    [data-testid="stSidebar"] [aria-expanded="false"] header[data-testid="stHeader"] {
        display:none;
    }

    [data-testid="stSidebar"] [aria-expanded="false"] section[data-testid='stSidebar'] {
        height: 100%;
        min-width:95px !important;
        width: 95px !important;
        margin-left: 305px;
        position: relative;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s ease;
        padding-top: 60px;
        white-space: nowrap;
        transform:translateX(100px);
    }

    [data-testid="stSidebar"] [aria-expanded="false"] section[data-testid='stSidebar']:hover{
        min-width: 330px !important;
        }

    [data-testid="stSidebar"] [aria-expanded="false"] button[kind="header"] {
        display: none;
    }

    div[data-testid="collapsedControl"]{
        display: none;
    }

}

@media (min-width: 769px){

    [data-testid="stSidebar"] [aria-expanded="false"] header[data-testid="stHeader"] {
        display:none;
    }

    [data-testid="stSidebar"] [aria-expanded="false"] section[data-testid='stSidebar'] {
        height: 100%;
        min-width:95px !important;
        width: 95px !important;
        transform:translateX(0px);
        position: relative;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s ease;
        padding-top: 60px;
        white-space: nowrap;
    }

    [data-testid="stSidebar"] [aria-expanded="false"] section[data-testid='stSidebar']:hover{
        min-width: 330px !important;
        }

    [data-testid="stSidebar"] [aria-expanded="false"] button[kind="header"] {
        display: none;
    }

    div[data-testid="stSidebarCollapsedControl"]{
        display: none;
    }

    div[data-testid="stSidebarCollapseButton"]{
        display: none;
    }
}*/
